<div class="row">
  <div class="col-md-3">
    <%= link_to (image_tag @restaurant.image_url), @restaurant.website, target: "blank" %>
    <!-- renders the image by each restaurant -->
    <h2>
      <%= @restaurant.name %>
    </h2>

    <div class="star-rating" data-score= <%= @avg_rating %>></div>
    <p> <%= "#{@reviews.length} reviews" %></p>

    <p>
      <strong>Address:</strong>
      <%= @restaurant.address %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @restaurant.phone %>
    </p>

    <p>
      <strong>Website:</strong>
      <%= link_to (@restaurant.website), @restaurant.website, target: "blank" %>
    </p>


    <%= link_to 'Write Review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>

  </div>

  <div class="col-md-9">
    <% if @reviews.blank? %>
        <h3>No reviews yet, be the first to write one!</h3>
        <% else %>
        <table class="table">
               <tbody>
               <% @reviews.each do |review| %>
               <tr>
                 <td>
                   <div class="star-rating" data-score= <%= review.rating %> ></div>
                   <p><%= review.comment %></p>
                   </td>
                   </tr>
               <% end %>
               </tbody>
        </table>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_restaurant_path(@restaurant), class:"btn btn-link" %> |
<%= link_to 'Back', restaurants_path, class:"btn btn-link" %>

<script>
    $('.star-rating').raty({
        path: 'https://s3.amazonaws.com/yelping/stars',
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        }
    });
</script>
